@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
section {
    height: 80rem;
    padding: 60px 0;
    box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    .linkList {
        margin-top: -27px;
    }
    div {
        margin-left: auto;
        margin-right: auto;
        width: 20%;
        padding: 10px;

        img {
            width: 40%;
            margin-top: -83px;
            margin-left: 55px;
        }

        ul,
        li {
            
            margin: 0;
            padding: 0;
        }

        li {
            display: inline-block;
            list-style-type: none;
            margin-right: 2.5rem;

            &:last-child {
                margin-right: 0;
            }

            a {
                img {
                    width: 4rem;
                    margin-left: 1rem;
                    margin-right: 1rem;
                }
            }

            a,
            span {
                font-size: 1.8rem;
                line-height: 1;
                color: black;
                text-decoration: none;
                text-transform: uppercase;
                cursor: pointer;
            }
        } 
    }
}

#footer {
    position: relative;
    height: 10px;
    width: 100%;
    bottom: -40px;

    .wrap {
        width: 100%;
        padding: 20px 10px;
        margin-left: -63.4rem;
        text-align: right;
        

      }
}

.minLogo {
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    padding: 10px;
}
